* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 5;
    box-sizing: border-box;

}
/*Remember to update terminal commands git add .
git commit -m "summarize change you made"
git push for every single commit*/